# Django Core
Django==5.0.2
djangorestframework==3.14.0

# Database
pymysql==1.1.0
cryptography==42.0.5

# Environment Variables
python-decouple==3.8

# Utilities
python-dateutil==2.9.0
pytz==2024.1

# Development
django-debug-toolbar==4.3.0
django-extensions==3.2.3

# API Documentation
drf-yasg==1.21.7

# CORS
django-cors-headers==4.3.1
